body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
	font-size: small;
}

.busy {
	display: none;
	position: fixed;
	background-color: #888;
	opacity: 0.8;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 10;
}

.busy .spinner {
	width: 100px;
	height: 100px;
	opacity: 1.0;
	top: 0; right: 0; bottom: 0; left: 0;
	position: absolute;
	margin: auto;
}

.busy .progress {
	width: 200px;
	height: 20px;
	opacity: 1.0;
	top: auto; right: 0; bottom: 60px; left: 0;
	position: fixed;
	margin: auto;
}

.messages {
	background-color: #ccc;
	font-size: 18px;
}
